<div class="mb-3 total-container">
	<div class="total">
		<div class="total-header">
			<p>******************************</p>
			<p>Итоговые показатели</p>
			<p>******************************</p>
		</div>
		<div class="total-content">
			<p class="mt-3">Активный доход <span>{{ summary.activeIncome }} $</span></p>
			<hr>
			<p class="mt-3">Пассивный доход <span>{{ summary.passiveIncome }} $</span></p>
			<hr>
			<p class="mt-3">Общий доход <span>{{ summary.totalIncome }} $</span></p>
			<hr>
			<p class="mt-3">Общий расход <span>{{ summary.totalOutcome }} $</span></p>
			<hr>
			<p class="mt-3 total-amount">Итого <span>{{ summary.totalPay }} $</span></p>
			<small>Выдать на руки</small>
		</div>
	</div>
	<div class="total-bottom">
		<img src="../../../../assets/total-border-bottom.png" />
	</div>
</div>