<div class="container">
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link active" href="#">В самое начало</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Назад на игровое поле</a>
		</li>
	</ul>
	<section class="w-100 d-flex justify-content-center">
		<form class="w-50" [formGroup]="inputForm" (ngSubmit)="onSubmit()">
			<h4>Привет, заполни начальные данные</h4>
			<div class="form-group">
				<label for="nameInput">Ваше имя</label>
				<input type="text" class="form-control" id="nameInput" placeholder="Введите ваше имя" name="name"
					formControlName="name" required>
			</div>
			<div class="form-group">
				<label for="dreamInput">Мечта</label>
				<input type="text" class="form-control" id="dreamInput" placeholder="Введите название вашей мечты"
					formControlName="dream" required>
			</div>
			<button type="button" class="btn btn-default" (click)="onReturn()">Назад</button>
			<button type="submit" class="btn btn-primary" [disabled]="inputForm.invalid">Дальше</button>
		</form>
	</section>
</div>