<div class="container">
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link active" href="/">В самое начало</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Назад на игровое поле</a>
		</li>
	</ul>
	<section class="w-100 mb-5 d-flex justify-content-center">
		<form class="w-50" [formGroup]="inputForm" (ngSubmit)="onSubmit()">
			<h4>Заполни раходы</h4>
			<div class="form-group">
				<label for="rent">Квартирная плата</label>
				<input type="number" class="form-control" id="rent" name="rent"
					placeholder="Введи квартирную плату" formControlName="rent">
			</div>
			<div class="form-group">
				<label for="houseRental">Аренда жилья</label>
				<input type="number" class="form-control" id="houseRental" name="houseRental"
					placeholder="Введи аренду жилья" formControlName="houseRental">
			</div>
			<div class="form-group">
				<label for="houseLoan">Кредит на квартиру</label>
				<input type="number" class="form-control" id="houseLoan" name="houseLoan"
					placeholder="Введи кредит на квартиру" formControlName="houseLoan">
			</div>
			<div class="form-group">
				<label for="carLoan">Кредит на машину</label>
				<input type="number" class="form-control" id="carLoan" name="carLoan"
					placeholder="Введи кредит на машину" formControlName="carLoan">
			</div>
			<div class="form-group">
				<label for="food">Питание</label>
				<input type="number" class="form-control" id="food" name="food"
					placeholder="Введи расход на питание" formControlName="food">
			</div>
			<div class="form-group">
				<label for="education">Обучение</label>
				<input type="number" class="form-control" id="education" name="education"
					placeholder="Введи расход на обучение" formControlName="education">
			</div>
			<div class="form-group">
				<label for="trainings">Тренинги</label>
				<input type="number" class="form-control" id="trainings" name="trainings"
					placeholder="Введи расход на тренинги" formControlName="trainings">
			</div>
			<div class="form-group">
				<label for="clothes">Одежда</label>
				<input type="number" class="form-control" id="clothes" name="clothes"
					placeholder="Введи расход на одежду" formControlName="clothes">
			</div>
			<div class="form-group">
				<label for="transport">Проезд/Бензин</label>
				<input type="number" class="form-control" id="transport" name="transport"
					placeholder="Введи расход на проезд/бензин" formControlName="transport">
			</div>
			<div class="form-group">
				<label for="phone">Телефон</label>
				<input type="number" class="form-control" id="phone" name="phone"
					placeholder="Введи расход на телефон" formControlName="phone">
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="childCount">Количество детей</label>
						<input type="number" class="form-control" id="childCount" name="childCount"
							placeholder="Введи количество детей" value="0" formControlName="childCount">
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="outcomePerChild">Расход на одного ребенка</label>
						<input type="number" class="form-control" id="outcomePerChild" name="outcomePerChild"
							placeholder="Введи расход на одного ребенка" formControlName="outcomePerChild">
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-default" (click)="onReturn()">Назад</button>
			<button type="submit" class="btn btn-primary" [disabled]="inputForm.invalid">Дальше</button>
		</form>
	</section>
</div>