<div class="container">
	<div class="alert alert-info mt-3" role="alert">
		<h4 class="alert-heading">Добро пожаловать</h4>
		<p>Вас приветствует небольшой компаьон для игры в крысиные бега. Он позволит автоматически управлять всеми вашыми финансовыми показателями.</p>
	</div>
	<div class="card-columns d-flex justify-content-center">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Новая игра</h5>
				<!-- <h6 class="card-subtitle mb-2 text-muted">Начните новую игру</h6> -->
				<p class="card-text">Начните новую игру. Послу того как заполните начальные данные, компаньон будет подсказивать сколько денег вы должны получить со следующей получки</p>
				<a (click)="startNewGame()" class="btn btn-block btn-outline-primary mt-auto">Старт</a>
			</div>
		</div>
		<div class="card fit-content" style="width: 18rem;" *ngIf="isInitialized">
			<div class="card-body">
				<h5 class="card-title">Продолжить игру</h5>
				<h6 class="card-subtitle mb-2 text-muted">У вам есть незаконченая игра.</h6>
				<p class="card-text">Вы можете продожнить или начать новую</p>
				<a routerLink="/game" class="btn btn-block btn-outline-primary mt-auto">Продолжить</a>
			</div>
		</div>
	</div>
</div>