/* You can add global styles to this file, and also import other style files */
.fit-content {
	height: fit-content;
}

form {
	margin: 0 auto;
}

.card {
	margin: 10px;
}

section {
	margin-top: 15px;
}